---
import { changeLanguage } from "i18next";
import Layout from "@/layouts/Layout.astro";
import Title from "@/components/astro/Title/Title.astro";
import ProjectLeft from "@/components/astro/Project/ProjectLeft.astro";
import ProjectRight from "@/components/astro/Project/ProjectRight.astro";
import projects from "@/data/projects.json";

changeLanguage("en");
---

<Layout>
  <div class="py-[100px] w-full h-full animate-fade-up">
    <div>
      <Title header="somethingBuilt" />
      <div class="space-y-12">
        {
          projects.map((item, index) => {
            if (index % 2 == 0) {
              return (
                <ProjectLeft
                  title={item.title}
                  image={item.img}
                  description={item.description}
                  technologies={item.technologies}
                  working={item.workingOn}
                />
              );
            }
            return (
              <ProjectRight
                title={item.title}
                image={item.img}
                description={item.description}
                technologies={item.technologies}
                working={item.workingOn}
              />
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>
