---
import i18next, { t } from 'i18next';
// @ts-ignore
import { localizePath } from 'astro-i18next';
import { navigation } from './constants';
import { padStart } from '../../utils/number';
import SelectorLanguage from '../selectorLanguage/selectorLanguage';
import Clibboard from '../Clibboard/Clibboard.astro';
import Burguer from '@/svg/burguer.astro';
import Close from '@/svg/close.astro';

const classNameNav =
  'fixed flex justify-between w-full px-2 lg:px-24 py-6 bg-neutro z-50 transition-transform';
---

<script is:inline define:vars={{ classNameNav }}>
  let lastScrollTop = window.scrollY || document.documentElement.scrollTop;
  const scrollDown = '-translate-y-full';
  const scrollUp = 'translate-y-0 shadow-2xl';

  window.onscroll = function () {
    window.addEventListener(
      'scroll',
      function handleScroll() {
        const scrollTopPosition = window.scrollY;

        if (scrollTopPosition > lastScrollTop) {
          document.getElementById('menu-bar').className =
            `${classNameNav} ${scrollDown}`;
        } else if (scrollTopPosition < lastScrollTop) {
          document.getElementById('menu-bar').className =
            `${classNameNav} ${scrollUp}`;
        } else if (window.scrollY == 0) {
          document.getElementById('menu-bar').className = `${classNameNav}`;
        }
        lastScrollTop = scrollTopPosition <= 0 ? 0 : scrollTopPosition;
      },
      false,
    );
  };
</script>

<script>
  const classNameMenu =
    'absolute bg-neutro mr-2 h-[100vh] md:h-fit space-y-5 md:space-y-0 transition-transform md:relative flex flex-col md:flex-row md:items-center items-end';

  const buttons = document.querySelectorAll('[data-burger-menu]');

  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      const menu = document.getElementById('menu');
      if (menu) {
        const hide = menu?.getAttribute('aria-checked') === 'false';
        console.log({ hide });

        menu.className = `${classNameMenu} ${hide ? 'right-0' : '-right-full'}`;

        menu?.setAttribute('aria-checked', hide.toString());
      }
    });
  });
</script>

<nav id="menu-bar" class={classNameNav}>
  <SelectorLanguage value={i18next.language} client:visible />
  <button data-burger-menu class="md:hidden">
    <Burguer width="35" class="fill-white hover:fill-neon-green" />
  </button>
  <div
    id="menu"
    aria-checked="false"
    class="absolute bg-neutro mr-2 h-[100vh] md:h-fit space-y-6 md:space-y-0 -right-full md:right-0 md:relative flex flex-col md:flex-row md:items-center"
  >
    {
      navigation.map(({ name, href }, index) => (
        <a href={localizePath(href)}>
          <div class="flex text-xs text-neon-green tracking-widest md:px-4 py-4 md:py-2">
            {padStart(index + 1)}.
            <p class="text-xs text-white hover:text-neon-green pl-1">
              {t(name)}
            </p>
          </div>
        </a>
      ))
    }
    <a
      class="ml-5 px-4 py-3 ease-in duration-150 text-sm text-neon-green tracking-wider border border-solid border-neon-green rounded transition-effect"
      href="pdf/Mauricio_Enrique_Gallego_Avila_CV.pdf"
      target="_blank"
    >
      {t('resume')}
    </a>

    <button data-burger-menu class="md:hidden text-white">
      <Close width="32" class="fill-white hover:fill-neon-green" />
    </button>
  </div>
</nav>

<div class="hidden md:fixed md:flex items-end bottom-0 left-[6.5%]">
  <div class="w-[1px] h-[250px] bg-neon-green opacity-30"></div>
</div>

<div class="hidden md:fixed md:flex items-end pb-10 bottom-0 right-0 w-1/12">
  <Clibboard title={t('email')} />
</div>

<div class="min-h-screen flex">
  <div class="w-full sm:mx-[10%]">
    <slot />
  </div>
</div>
