---
import i18next, { t } from 'i18next';
// @ts-ignore
import { localizePath } from 'astro-i18next';
import { navigation } from './constants';
import { padStart } from '../../utils/number';
import SelectorLanguage from '../selectorLanguage/selectorLanguage';
import Clibboard from '../Clibboard/Clibboard.astro';

const classNameNav =
  'fixed flex justify-between w-full px-24 py-6 bg-neutro z-50 transition-transform';
---

<script is:inline define:vars={{ classNameNav }}>
  let lastScrollTop = window.scrollY || document.documentElement.scrollTop;
  const scrollDown = '-translate-y-full';
  const scrollUp = 'translate-y-0 shadow-2xl';

  window.onscroll = function () {
    window.addEventListener(
      'scroll',
      function handleScroll() {
        const scrollTopPosition = window.scrollY;

        if (scrollTopPosition > lastScrollTop) {
          document.getElementById('menu-bar').className =
            `${classNameNav} ${scrollDown}`;
        } else if (scrollTopPosition < lastScrollTop) {
          document.getElementById('menu-bar').className =
            `${classNameNav} ${scrollUp}`;
        } else if (window.scrollY == 0) {
          document.getElementById('menu-bar').className = `${classNameNav}`;
        }
        lastScrollTop = scrollTopPosition <= 0 ? 0 : scrollTopPosition;
      },
      false,
    );
  };
</script>

<nav id="menu-bar" class={classNameNav}>
  <SelectorLanguage value={i18next.language} client:visible />

  <div class="flex items-center">
    {
      navigation.map(({ name, href }, index) => (
        <a href={localizePath(href)}>
          <div class="flex text-xs text-neon-green tracking-widest px-4 py-2">
            {padStart(index + 1)}.
            <p class="text-xs text-white hover:text-neon-green pl-1">
              {t(name)}
            </p>
          </div>
        </a>
      ))
    }
    <a
      class="ml-5 px-4 py-3 ease-in duration-150 text-sm text-neon-green tracking-wider border border-solid border-neon-green rounded transition-effect"
      href="pdf/Mauricio_Enrique_Gallego_Avila_CV.pdf"
      target="_blank"
    >
      {t('resume')}
    </a>
  </div>
</nav>

<div class="fixed flex items-end bottom-0 left-[95px]">
  <div class="w-[1px] h-[250px] bg-neon-green opacity-30"></div>
</div>

<div class="fixed flex items-end pb-10 bottom-0 right-0 w-28">
  <Clibboard title={t('email')} />
</div>

<div class="min-h-screen flex">
  <div class="w-full mx-[150px]">
    <slot />
  </div>
</div>
